body {
    background-color: lightgray;
}

.animate {
    /* animation: 0.7s slide-in 0.7s 3 linear; */
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-iteration-count: 3;
}
  
@keyframes slide-in {
    0% {
        transform: scale(0.25);
        transform: translateY(-1000px);
    }
    80%{
        transform: scale(0.25);
    }
    100% {
        transform: translateY(0);
        transform: scale(1);
    }
}

th, td{
    margin: 0;
    padding: 0;
    height: 32px;
    width: 32px;
}

td {
    border: 1px solid black;
}

div.hit, div.ship {
    margin: 0;
    padding: 0;
    
    height: 100%;
    width: 100%;
}

div.ship {
    background-color: blue;
}

div.hit {
    background-color: red;
}

div.hit.ship {
    border: 5px solid blue;
}

td.ship {
    background-color: blue;
}

td.miss, td.hit {
    background-color: red;
}

td.hit {
    border: 5px solid blue;
    box-sizing: border-box;
}

td.selected {
    background-color: turquoise;
}

.tableContainer {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}


button {
    height: 25px;
    width: 80px;
}

button.start {
    height:50px;
}

.buttonsContainer {
display: inline-grid;
grid-template-rows: 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:
    ". up . rotate start"
    "left down right randomize  start"
}

.up {
grid-area: up;
}

.left {
grid-area: left;
}

.down {
grid-area: down;
}

.right {
grid-area: right;
}

.rotate {
grid-area: rotate;
}

.randomize {
grid-area: randomize;
}

.start {
grid-area: start;
}